html {
    background-color: grey;
}
body {}
   
form {
    width: 600px;
    margin: auto; 
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
}
label {
    display: block;
}
* {
    box-sizing: border-box;
}
input, select {
    width: 100%;
}